<div class="@Classname">
    <div @onclick="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnClickHandler)" class="@LinkClassname" @onlongpress="OnLongPressInternal" @oncontextmenu="OnContextMenuInternal" @oncontextmenu:preventDefault>
        @if (!string.IsNullOrEmpty(Icon))
        {
            <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname" />
        }
        <div class="mud-nav-link-text">
            @ChildContent
        </div>
    </div>
</div>