<MudMenu @ref="ContextMenu" Dense="true" PositionAtCursor="true" ListClass="unselectable" PopoverClass="unselectable">
    <MudMenuItem Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Info" OnClick="AddTracker">@TranslateTrackersAddition("Add trackers")</MudMenuItem>
    @if (ContextMenuItem is not null)
    {
        <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" OnClick="EditTrackerToolbar">@TranslateTrackerList("Edit tracker URL...")</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="RemoveTrackerContextMenu">@TranslateTrackerList("Remove tracker")</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.FolderCopy" IconColor="Color.Info" OnClick="CopyTrackerUrlContextMenu">@TranslateTrackerList("Copy tracker URL")</MudMenuItem>
    }
</MudMenu>

<div class="content-panel">
    <div class="content-panel__toolbar">
        <MudToolBar Gutters="false" Dense="true">
            <MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Info" OnClick="AddTracker" title="@TranslateTrackersAddition("Add trackers")" />
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" OnClick="EditTrackerToolbar" Disabled="@(SelectedItem is null)" title="@TranslateTrackerList("Edit tracker URL...")" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="RemoveTrackerToolbar" Disabled="@(SelectedItem is null)" title="@TranslateTrackerList("Remove tracker")" />
            <MudIconButton Icon="@Icons.Material.Filled.FolderCopy" Color="Color.Info" OnClick="CopyTrackerUrlToolbar" Disabled="@(SelectedItem is null)" title="@TranslateTrackerList("Copy tracker URL")" />
            <MudDivider Vertical="true" />
            <MudIconButton Icon="@Icons.Material.Outlined.ViewColumn" Color="Color.Inherit" OnClick="ColumnOptions" title="@TranslateApp("Choose Columns")" />
        </MudToolBar>
    </div>

    <div class="content-panel__body">
        <DynamicTable @ref="Table"
                      TableId="Trackers"
                      T="Lantean.QBitTorrentClient.Models.TorrentTracker"
                      ColumnDefinitions="Columns"
                      Items="Trackers"
                      MultiSelection="false"
                      SelectOnRowClick="false"
                      PreSorted="true"
                      SortDirectionChanged="SortDirectionChanged"
                      SortColumnChanged="SortColumnChanged"
                      OnTableDataLongPress="TableDataLongPress"
                      OnTableDataContextMenu="TableDataContextMenu"
                      SelectedItemChanged="SelectedItemChanged"
                      Class="file-list content-panel__table" />
    </div>
</div>
