@inherits SubmittableDialog
@using Lantean.QBTMud.Helpers
@inject Lantean.QBTMud.Services.Localization.ILanguageLocalizer LanguageLocalizer

<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12">
                <MudFileUpload T="IReadOnlyList<IBrowserFile>" @ref="FileUpload" Files="@Files" FilesChanged="UploadFiles" Accept=".torrent" MaximumFileCount="50" data-test-id="@TestIdHelper.For("AddTorrentFileUpload")">
                    <SelectedTemplate Context="selectedFiles">
                        @if (selectedFiles is not null && selectedFiles.Count > 0)
                        {
                            <MudCard Elevation="3" Class="mb-3" data-test-id="@TestIdHelper.For("AddTorrentFileList")">
                                <MudCardHeader Class="pb-0">
                                    @($"{LanguageLocalizer.Translate("AddNewTorrentDialog", "Select .torrent files")} ({selectedFiles.Count})")
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudList T="string">
                                        @foreach (var file in selectedFiles)
                                        {
                                            <MudListItem>
                                                <div class="w-100 d-flex align-center">
                                                    <span>@file.Name</span>
                                                    <MudSpacer />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                                   Color="Color.Error"
                                                                   Variant="Variant.Text"
                                                                   Size="Size.Small"
                                                                   OnClick="@(() => RemoveAsync(file))"
                                                                   data-test-id="@TestIdHelper.For($"RemoveTorrentFile-{file.Name}")" />
                                                </div>
                                            </MudListItem>
                                        }
                                    </MudList>
                                </MudCardContent>
                            </MudCard>
                        }
                    </SelectedTemplate>
                    <CustomContent>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Default"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   OnClick="@context.OpenFilePickerAsync"
                                   data-test-id="@TestIdHelper.For("AddTorrentFileChoose")">
                            @LanguageLocalizer.Translate("AddNewTorrentDialog", "Select .torrent files")
                        </MudButton>
                    </CustomContent>
                </MudFileUpload>
            </MudItem>
        </MudGrid>
        <AddTorrentOptions @ref="TorrentOptions" ShowCookieOption="true" />
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Cancel" data-test-id="@TestIdHelper.For("AddTorrentFileClose")">@LanguageLocalizer.Translate("PluginSelectDlg", "Close")</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit" data-test-id="@TestIdHelper.For("AddTorrentFileSubmit")">@LanguageLocalizer.Translate("HttpServer", "Upload Torrents")</MudButton>
    </DialogActions>
</MudDialog>
