@inherits SubmittableDialog
@inject Lantean.QBTMud.Services.Localization.IWebUiLocalizer WebUiLocalizer

<MudDialog>
    <DialogContent>
        <table width="100%">
            <tbody>
                <tr>
                    <td style="width: 100%"><MudTextField T="string" Label="@(Label)" Value="@Value" ValueChanged="SetValue" Required Variant="Variant.Outlined" ShrinkLabel="true" data-test-id="@TestIdHelper.For("MultipleFieldInput")" /></td>
                    <td><MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddValue" data-test-id="@TestIdHelper.For("MultipleFieldAdd")" /></td>
                </tr>
                @foreach (var value in NewValues)
                {
                    var valueRef = value;
                    <tr>
                        <td>@value</td>
                        <td><MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(e => DeleteValue(valueRef))" data-test-id="@TestIdHelper.For($"MultipleFieldDelete-{valueRef}")" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" data-test-id="@TestIdHelper.For("MultipleFieldCancel")">@WebUiLocalizer.Translate("MainWindow", "Cancel")</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" data-test-id="@TestIdHelper.For("MultipleFieldSave")">@WebUiLocalizer.Translate("HttpServer", "Save")</MudButton>
    </DialogActions>
</MudDialog>
