@using Lantean.QBTMud.Layout
@using Lantean.QBTMud.Application.Services.Localization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@inject ILanguageLocalizer LanguageLocalizer

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(PresentationAssemblyMarker).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@LanguageLocalizer.Translate("App", "Not found")</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@LanguageLocalizer.Translate("App", "Sorry, there's nothing at this address.")</p>
        </LayoutView>
    </NotFound>
</Router>
