@inject Lantean.QBTMud.Services.Localization.ILanguageLocalizer LanguageLocalizer

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@LanguageLocalizer.Translate("App", "Not found")</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@LanguageLocalizer.Translate("App", "Sorry, there's nothing at this address.")</p>
        </LayoutView>
    </NotFound>
</Router>
