@page "/settings"
@layout OtherLayout
@inject Lantean.QBTMud.Services.Localization.ILanguageLocalizer LanguageLocalizer

<NavigationLock ConfirmExternalNavigation="@(UpdatePreferences is not null)" OnBeforeInternalNavigation="ValidateExit" />

<div class="content-panel">
    <div class="content-panel__toolbar">
        <MudToolBar Gutters="false" Dense="true">
            @if (!DrawerOpen)
            {
                <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" />
                <MudDivider Vertical="true" />
            }
            <MudText Class="px-5 no-wrap">@LanguageLocalizer.Translate("OptionsDialog", "Options")</MudText>
            <MudDivider Vertical="true" />
            <MudIconButton Icon="@Icons.Material.Outlined.Save" OnClick="Save" Disabled="@(LostConnection || UpdatePreferences is null)" />
            <MudIconButton Icon="@Icons.Material.Outlined.Undo" OnClick="Undo" Disabled="@(LostConnection || UpdatePreferences is null)" />
        </MudToolBar>
    </div>

    <div class="content-panel__body">
        <MudTabs Elevation="2" ApplyEffectsToContainer="true" @bind-ActivePanelIndex="ActiveTab" Border="true">
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Behavior")">
                <div class="options-tab-contents">
                    <BehaviourOptions @ref="BehaviourOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Downloads")">
                <div class="options-tab-contents">
                    <DownloadsOptions @ref="DownloadsOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Connection")">
                <div class="options-tab-contents">
                    <ConnectionOptions @ref="ConnectionOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Speed")">
                <div class="options-tab-contents">
                    <SpeedOptions @ref="SpeedOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "BitTorrent")">
                <div class="options-tab-contents">
                    <BitTorrentOptions @ref="BitTorrentOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "RSS")">
                <div class="options-tab-contents">
                    <RSSOptions @ref="RSSOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "WebUI")">
                <div class="options-tab-contents">
                    <WebUIOptions @ref="WebUIOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Advanced")">
                <div class="options-tab-contents">
                    <AdvancedOptions @ref="AdvancedOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
        </MudTabs>
    </div>
</div>
