@page "/statistics"
@layout OtherLayout

<div class="content-panel">
    <div class="content-panel__toolbar">
        <MudToolBar Gutters="false" Dense="true">
            @if (!DrawerOpen)
            {
                <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" title="Back to torrent list" />
                <MudDivider Vertical="true" />
            }
            <MudDivider Vertical="true" />
            <MudText Class="pl-5 no-wrap">Statistics</MudText>
        </MudToolBar>
    </div>

    <div class="content-panel__body">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="details-tab-contents content-panel__container">
            <MudText Typo="Typo.subtitle2" Class="pt-6">User statistics</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudField Label="All-time uploaded"
                              data-test-id="@TestIdHelper.For("AllTimeUploaded")">@DisplayHelpers.Size(ServerState?.AllTimeUploaded)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="All-time downloaded"
                              data-test-id="@TestIdHelper.For("AllTimeDownloaded")">@DisplayHelpers.Size(ServerState?.AllTimeDownloaded)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="All-time share ratio"
                              data-test-id="@TestIdHelper.For("AllTimeShareRatio")">@DisplayHelpers.EmptyIfNull(ServerState?.GlobalRatio, format: "0.00")</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Session waste"
                              data-test-id="@TestIdHelper.For("SessionWaste")">@DisplayHelpers.Size(ServerState?.TotalWastedSession)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Connected peers"
                              data-test-id="@TestIdHelper.For("ConnectedPeers")">@DisplayHelpers.EmptyIfNull(ServerState?.TotalPeerConnections)</MudField>
                </MudItem>
            </MudGrid>

            <MudText Typo="Typo.subtitle2" Class="pt-6">Cache statistics</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudField Label="Read cache hits"
                              data-test-id="@TestIdHelper.For("ReadCacheHits")">@DisplayHelpers.Percentage(ServerState?.ReadCacheHits)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Total buffer size"
                              data-test-id="@TestIdHelper.For("TotalBufferSize")">@DisplayHelpers.Size(ServerState?.TotalBuffersSize)</MudField>
                </MudItem>
            </MudGrid>

            <MudText Typo="Typo.subtitle2" Class="pt-6">Performance statistics</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudField Label="Write cache overload"
                              data-test-id="@TestIdHelper.For("WriteCacheOverload")">@DisplayHelpers.Percentage(ServerState?.WriteCacheOverload)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Read cache overload"
                              data-test-id="@TestIdHelper.For("ReadCacheOverload")">@DisplayHelpers.Percentage(ServerState?.ReadCacheOverload)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Queued I/O jobs"
                              data-test-id="@TestIdHelper.For("QueuedIoJobs")">@DisplayHelpers.EmptyIfNull(ServerState?.QueuedIOJobs)</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Average time in queue"
                              data-test-id="@TestIdHelper.For("AverageTimeQueue")">@DisplayHelpers.EmptyIfNull(ServerState?.AverageTimeQueue, suffix: "ms")</MudField>
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Total queued size"
                              data-test-id="@TestIdHelper.For("TotalQueuedSize")">@DisplayHelpers.Size(ServerState?.TotalQueuedSize)</MudField>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</div>
