@page "/settings"
@layout OtherLayout
@inject ILanguageLocalizer LanguageLocalizer

@if (UpdatePreferences is not null)
{
    <NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="ValidateExit" />
}

<ContentPanel>
    <ToolbarContent>
        <MudToolBar Gutters="false" Dense="true">
            @if (!DrawerOpen)
            {
                <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" />
                <MudDivider Vertical="true" />
            }
            <ToolbarTitle Class="px-5">@LanguageLocalizer.Translate("OptionsDialog", "Options")</ToolbarTitle>
            <MudDivider Vertical="true" />
            <MudIconButton Icon="@Icons.Material.Outlined.Save" OnClick="Save" Disabled="@(UpdatePreferences is null)" />
            <MudIconButton Icon="@Icons.Material.Outlined.Undo" OnClick="Undo" Disabled="@(UpdatePreferences is null)" />
        </MudToolBar>
    </ToolbarContent>

    <ChildContent>
        <MudTabs Elevation="2" ApplyEffectsToContainer="true" @bind-ActivePanelIndex="ActiveTab" Border="true">
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Behavior")">
                <div class="options-tab-contents">
                    <BehaviourOptions @ref="BehaviourOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Downloads")">
                <div class="options-tab-contents">
                    <DownloadsOptions @ref="DownloadsOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Connection")">
                <div class="options-tab-contents">
                    <ConnectionOptions @ref="ConnectionOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Speed")">
                <div class="options-tab-contents">
                    <SpeedOptions @ref="SpeedOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "BitTorrent")">
                <div class="options-tab-contents">
                    <BitTorrentOptions @ref="BitTorrentOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "RSS")">
                <div class="options-tab-contents">
                    <RSSOptions @ref="RSSOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "WebUI")">
                <div class="options-tab-contents">
                    <WebUIOptions @ref="WebUIOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@LanguageLocalizer.Translate("OptionsDialog", "Advanced")">
                <div class="options-tab-contents">
                    <AdvancedOptions @ref="AdvancedOptions" Preferences="Preferences" UpdatePreferences="@UpdatePreferences" PreferencesChanged="PreferencesChanged" />
                </div>
            </MudTabPanel>
        </MudTabs>
    </ChildContent>
</ContentPanel>
